@import "_variables.css";
@import "_theme.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
}

.has-background-light {
  background-color: var(--primary-colour) !important;
}

table {
  margin-top: 1.5em;
}

table th {
  background: #aaa;
  color: white !important;
}

select,
.date-picker {
  background: var(--primary-colour) !important;
  color: white !important;
  border: 2px solid white !important;
  /* border: 2px solid #333 !important; */
}

.select::after {
  border-color: #ffffff !important;
}

.date-picker {
  border-radius: 999px;
  font-size: 1rem;
}

.week {
  font-size: 1.2rem;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.old-content,
.old-content-key {
  background: #fafad1 !important;
  color: black !important;
  font-weight: bold;
}

.old-content-key {
  padding: 0.5rem;
  margin-top: 0.5rem;
  max-width: 200px;
}

@media (max-width: 900px) {
  body {
    background-image: none;
  }
}
